/target
/.idea/
/fractal_fat_star/target/
/fractal_fat_star_magnific/target/
/fractal_fat_star_tentacle/target/
/fractal_head/target/
/fractal_collatz_conjecture/target/
/fractal_collatz_conjecture_orbits/target/
/fractal_collatz_mandelbrot/target/
/fractal_euler/target/
/fractal_lotus/target/
/fractal_infinity/target/
/fractal_infinity_top/target/
/fractal_nebula_side/target/
/fractal_nebula_top/target/
/fractal_nebula/target/
/fractal_nebula_of_nebula/target/
/fractal_mandelbrot/target/
/fractal_mandelbrot_of_mandelbrot/target/
/rusty_fractals_core/target/
/rusty_fractals_common/target/
