/target
/.idea/
/fractal_fat_star/fractal_fat_star.iml
/fractal_lib/fractal_lib.iml
/rusty_fractals.iml
/fractal_fat_star/target/
/fractal_lib/target/
/fractal_glorious_head/target/
/fractal_collatz_conjecture/target/
/fractal_collatz_mandelbrot/target/
/fractal_euler/target/
/fractal_fat_star_magnific/target/
/fractal_fat_star_tentacle/target/
/fractal_lotus/target/
/fractal_collatz_conjecture/fractal_collatz_conjecture.iml
/fractal_collatz_mandelbrot/fractal_collatz_mandelbrot.iml
/fractal_euler/fractal_euler.iml
/fractal_fat_star_magnific/fractal_fat_star_magnific.iml
/fractal_glorious_head/fractal_glorious_head.iml
/fractal_lotus/fractal_lotus.iml
/fractal_fat_star_tentacle/fractal_fat_star_tentacle.iml
/fractal_infinity/target/
/fractal_infinity/fractal_infinity.iml
/fractal_infinity_top/fractal_infinity_top.iml
/fractal_infinity_top/target/
/fractal_nebula_side/target/
/fractal_nebula_top/target/
/fractal_nebula_side/fractal_nebula_side.iml
/fractal_nebula_top/fractal_nebula_top.iml
